* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
header {
    width: 100%;
    background: #1F2937;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    height: 65vh;
}

.header-top {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.header-bottom {
    display: flex;
    gap: 32px;
    margin-bottom: 100px;
}

.header-bottom img {
    width: 600px;
}


.text {
    display: flex;
    flex-flow: column nowrap;
    width: 600px;
    gap: 18px;
}

.text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 18px;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 18px;
    font-size: 24px;
    color: #F9FAF8;
}

.text p, .right-nav {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background: #3882F6;
    padding: 8px 24px;
    font-size: 18px;
    border-radius: 10px;
    color: #F9FAF8;
    border: 2px solid white;
}

.information {
    text-align: center;
}

.information h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 60px;
}
.information img {
    width: 250px;
    height: 260px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    margin: 16px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 120px;
}
.testimonial {
    background: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.testimonial p {
    width: 70vw;
}

.testimonial .user {
    text-align: right;
}

.signup-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    color: white;
}
.signup-alert div {
    width: 80vw;
    height: 15vh;
    background: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 32px;
    border-radius: 10px;
}
.signup-alert span {
    font-size: 24px;
    font-weight: bold;
}
footer {
    background: #1F2937;
    text-align: center;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}